<!DOCTYPE HTML>
<html>
    <head>
        <style>
            body {
                margin: 0px;
                padding: 0px;
            }
        </style>
        <title>Blobby blobby blobby!</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
        <script src="clientSettings.js"></script>
    </head>
    <body ng-app="app">
        <h1>Blobby blobby blobby</h1>
        <canvas id="myCanvas" width="600" height="400"></canvas>
        <p><span id="statusLabel"/></p>
        <script src="clientComms.js"></script>
        <!--<script src="clientEngine.js"></script>-->

        <div ng-controller="SettingsCtrl">
            <div ng-hide="loggedIn">
                <form name="loginForm" ng-submit="login()">
                    <span>Username: </span><input type="text" ng-model="username" required="required" /><span>Password: </span><input type="password" ng-model="password" required="required" /><button ng-click="login()" ng-disabled="loginForm.$invalid">Login</button><button ng-click="createUser()" ng-disabled="loginForm.$invalid">Create user</button><br />
                </form>
            </div>
            <div ng-show="loggedIn">
                <span>Username: {{ username }}</span><button ng-click="logout()">Log out</button><br />
            </div>
            <textarea id="rulesTextArea" rows="15" cols="65" ng-model="gameCode" ng-Change="enableUpdateGameCode()" ng-Keyup="enableUpdateGameCode()"></textarea>
            <button ng-click="updateGameCode()" ng-disabled="updateGameCodeDisabled">Apply Code</button>
            <button ng-click="saveSettings()">Save</button>
            <p id="errorMessages" style="color: red">{{ errorMessages }}</p>
        </div><!--
        <div>
            <p>
                You must define a <code>gameFrame()</code> function to make anything happen on the game canvas.<br />
                The <code>latestMousePos</code> variable holds the x and y coordinates of the mouse relative to the game canvas.<br />
                The <code>gameState</code> variable holds lists of all the given blobbies in the game, both food and other players.
            </p>
            <p>The following functions and variables are also available:</p>
            <ul>
                <li><code>sendMousePos(position)</code>Transmit the x and y position of the mouse, relative to the centre of the game canvas.</li>
                <li><code>drawBackground(blobby)</code>Draw the background, relative to the position of a given blobby.</li>
                <li><code>updateName(name)</code>Set your blobby's name</li>
                <li><code>setEnergyBarsEnabled(true|false)</code>Turn on energy bars</li>
                <li><code>context</code>A drawing context to use to draw with</li>
                <li><code>canvas</code>The canvas to draw on</li>
            </ul>
        </div>-->
    </body>
</html>
